<ng-container *ngIf="eventView$ | async as eventView">
  <mat-toolbar class="mat-elevation-z1">
    <div>
      {{ eventView.name }}
    </div>
    <button class="nav-menu" mat-icon-button [matMenuTriggerFor]="appMenu">
      <mat-icon>more_vert</mat-icon>
    </button>
  </mat-toolbar>
  <div class="nav-container">
    <div class="nav" mat-tab-nav-bar>
      <a
        *ngFor="let link of links"
        mat-tab-link
        routerLinkActive
        #rla="routerLinkActive"
        [active]="rla.isActive"
        [routerLink]="link.path"
      >
        {{ link.label }}
      </a>
    </div>
  </div>
  <div class="content">
    <router-outlet></router-outlet>
  </div>
  <mat-menu #appMenu="matMenu">
    <button mat-menu-item (click)="onEdit()">
      <mat-icon>edit</mat-icon>
      Edit
    </button>
    <button mat-menu-item (click)="onDelete()">
      <mat-icon>delete</mat-icon>
      Delete
    </button>
  </mat-menu>
</ng-container>
