<mat-toolbar color="primary">
  <button type="button" mat-button (click)="sidenav.toggle()">
    Event Hub
  </button>
  <div class="spacing"></div>
  <div class="actions">
    <button mat-button (click)="signOut()">
      Sign out
    </button>
  </div>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #sidenav mode="side" [opened]="true">
    <router-outlet name="sidenav-content"></router-outlet>
  </mat-sidenav>

  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
