<mat-list role="list">
  <mat-list-item role="listitem">
    <a type="button" mat-raised-button (click)="openEventFormDialog()">Create Event</a>
  </mat-list-item>
  <mat-list-item role="listitem">
    <a type="button" mat-raised-button>Join Event</a>
  </mat-list-item>
</mat-list>

<mat-nav-list *ngIf="events$ | async as events">
  <div mat-subheader>Current Events</div>
  <a *ngFor="let event of events" mat-list-item [routerLink]="['/event', event.id]">
    {{ event.name }}
  </a>

  <div mat-subheader>Past Events</div>
  <a mat-list-item [routerLink]="['/home']">Home</a>
</mat-nav-list>
